*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.box{
    position: relative;
    width: 300px;
    height: 600px;
    background: #666;
    border-radius: 50px;
}
.box::before{
    content: '';
    position: absolute;
    inset: 3px;
    background: #000;
    border-radius: 48px;

}

.inner{
    position: absolute;
    inset: 3px;
    background: url(img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 48px;
    border: 10px solid #000;
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: 0.5s;
}

.box:hover .inner{
    opacity: 1;
}

.btn{
    position: absolute;
    top: 110px;
    left: -2px;
    width: 3px;
    height: 26px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: radial-gradient(#ccc,#666,#222);
    z-index: 10;
}

.btn.btn2{
    top: 160px;
    height: 40px;
}
.btn.btn3{
    top: 220px;
    height: 40px;
}

.rightSideBtn{
    position: absolute;
    top: 170px;
    right: -2px;
    width: 3px;
    height: 70px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: radial-gradient(#ccc,#666,#222);
    z-index: 10;
}

.island_popup{
    position: absolute;
    top: 10px;
    width: 90px;
    height: 25px;
    background: #000;
    box-shadow: 0 0 15px #fff;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}
.island_popup:hover{
    width: 200px;
    height: 25px;
}



.program-bottom{
    position: absolute;
    bottom: 2%;
    width: 97%;
    height: 80px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.filter-blur{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-blur::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background: rgb(212,210,210);
    filter: blur(0.5px);
}

.program-bottom ul{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
.program-bottom ul li{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: rgba(26, 218, 26);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.program-bottom ul li:nth-child(2),
.program-bottom ul li:nth-child(2) i{
    background: #fff;
    color: cornflowerblue;
    font-size: 45px;
    border-radius: 10px;
}
.program-bottom ul li:last-child{
    background: crimson;
}
.program-bottom ul li i{
    color: #fff;
    font-size: 30px;
}




.swiper{
    position: absolute;
    top: 10%;
    width: 100%;
    height: 75%;
    margin: 0 auto;
}

.swiper-programes{
    width: 100%;
    height: auto;
}

.swiper-programes .program-item{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.swiper-programes .program-item a{
    display: block;
    text-transform: capitalize;
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    line-height: 1.5;
    text-align: center;
}

.swiper-programes .program-item a i{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    font-size: 50px;
}
i.fa-facebook{
    color: dodgerblue;
}
i.fa-instagram{
    color: crimson;
}
i.fa-youtube{
    color: red;
}
i.fa-twitter{
    color: cornflowerblue;
}
.swiper-programes .program-item a i.fa-tiktok{
    color: #fff;
    background: #000;
    font-size: 30px;
}
i.fa-viber{
    color: mediumslateblue;
}
i.fa-telegram{
    color: cornflowerblue;
}
.swiper-programes .program-item a i.fa-whatsapp{
    color: #fff;
    background: rgba(26, 218, 26);
    font-size: 40px;
}
i.fa-amazon{
    color: orange;
}
i.fa-linkedin{
    color: dodgerblue;
}
i.fa-image{
    color: chocolate;
}

.swiper-pagination-bullet{
    background: #fff;
}
.swiper-pagination-bullet-active{
    background: #fff;
}